body{
  margin: 0;
}
.header{
  width: 100%;
  height: 100px;
  background-color: #77B0AA;
}

.header-title{
  color: #e3fef7;
  font-size: 64px;
  text-shadow: #9b8a8a 1px 0 10px;
  margin: 0 0 0 10px;
}