canvas{
  display: block;
  margin: 30px auto;
  padding: 10px 0;
}

.circle{
  width: 550px;
  height: 500px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 2px solid #000;
}

#button{
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 120px;
  border: 2px solid #505050;
  color: #505050;
  border-radius: 100vh;
  transition: 0.5s;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  }
  #button:hover {
    color: rgb(255, 255, 255);
    background: #505050;
  }

  .center{
    text-align: center;
  }

